In [2]:
import sqlite3

In [3]:
conn=sqlite3.connect('movies.db')

In [4]:
conn.execute('''CREATE TABLE IF NOT EXISTS MOVIES (TITLE TEXT,
DIRECTOR TEXT,
YEAR INT)''')

conn.commit()

In [5]:
conn.execute ('''Insert Into MOVIES VALUES('TAXI DRIVER', 'MARTIN SCORSESE', 1976)''')
conn.execute ('''Insert Into MOVIES VALUES('IRISHMAN', 'MARTIN SCORSESE', 2021)''')
conn.execute ('''Insert Into MOVIES VALUES('AVATAR', 'JAMES CAMEROON', 2008)''')
conn.execute ('''Insert Into MOVIES VALUES('AVATAR2', 'JAMES CAMEROON', 2022)''')

conn.commit()

In [6]:
conn=sqlite3.connect('movies.db')
cursor=conn.execute('''select * from Movies''')

for row in cursor:
  print(row)

('TAXI DRIVER', 'MARTIN SCORSESE', 1976)
('IRISHMAN', 'MARTIN SCORSESE', 2021)
('AVATAR', 'JAMES CAMEROON', 2008)
('AVATAR2', 'JAMES CAMEROON', 2022)

In [7]:
cursor=conn.execute('''select * from Movies
where Director='JAMES CAMEROON' ''')

for row in cursor:
  print(row)

('AVATAR', 'JAMES CAMEROON', 2008)
('AVATAR2', 'JAMES CAMEROON', 2022)

In [8]:
movies_data = [
    ('Inception', 'Christopher Nolan', 2010),
    ('The Dark Knight', 'Christopher Nolan', 2008),
    ('Avatar', 'James Cameron', 2009),
    ('Interstellar', 'Christopher Nolan', 2014),
    ('The Shawshank Redemption', 'Frank Darabont', 1994),
    ('Pulp Fiction', 'Quentin Tarantino', 1994),
    ('Forrest Gump', 'Robert Zemeckis', 1994),
    ('The Matrix', 'Lana Wachowski, Lilly Wachowski', 1999),
    # Add more records as needed
]

In [9]:
# Use the executemany() method to insert multiple records
conn.execute('''INSERT INTO movies values('ET', 'Steven Spielberg', 1992)''')

# Commit the changes to the database
conn.commit()

In [10]:
cursor=conn.execute('''select * from Movies ''')

for row in cursor:
  print(row)

('TAXI DRIVER', 'MARTIN SCORSESE', 1976)
('IRISHMAN', 'MARTIN SCORSESE', 2021)
('AVATAR', 'JAMES CAMEROON', 2008)
('AVATAR2', 'JAMES CAMEROON', 2022)
('ET', 'Steven Spielberg', 1992)

In [20]:
conn.executemany ('''INSERT INTO movies (title, director, year) VALUES (?, ?, ?)''', movies_data)
conn.commit()

In [21]:
cursor=conn.execute('''select * from Movies ''')

for row in cursor:
  print(row)

('TAXI DRIVER', 'MARTIN SCORSESE', 1976)
('IRISHMAN', 'MARTIN SCORSESE', 2021)
('AVATAR', 'JAMES CAMEROON', 2008)
('AVATAR2', 'JAMES CAMEROON', 2022)
('ET', 'Steven Spielberg', 1992)
('Inception', 'Christopher Nolan', 2010)
('The Dark Knight', 'Christopher Nolan', 2008)
('Avatar', 'James Cameron', 2009)
('Interstellar', 'Christopher Nolan', 2014)
('The Shawshank Redemption', 'Frank Darabont', 1994)
('Pulp Fiction', 'Quentin Tarantino', 1994)
('Forrest Gump', 'Robert Zemeckis', 1994)
('The Matrix', 'Lana Wachowski, Lilly Wachowski', 1999)
('Inception', 'Christopher Nolan', 2010)
('The Dark Knight', 'Christopher Nolan', 2008)
('Avatar', 'James Cameron', 2009)
('Interstellar', 'Christopher Nolan', 2014)
('The Shawshank Redemption', 'Frank Darabont', 1994)
('Pulp Fiction', 'Quentin Tarantino', 1994)
('Forrest Gump', 'Robert Zemeckis', 1994)
('The Matrix', 'Lana Wachowski, Lilly Wachowski', 1999)

In [13]:
cursor=conn.execute('''Select * from Movies where year>2010''')
for row in cursor:
  print(row)

('IRISHMAN', 'MARTIN SCORSESE', 2021)
('AVATAR2', 'JAMES CAMEROON', 2022)
('Interstellar', 'Christopher Nolan', 2014)

In [15]:
release_year=(2014,)

In [16]:
cursor=conn.execute('''Select * from Movies where year>?''', release_year)
for row in cursor:
  print(row)

('IRISHMAN', 'MARTIN SCORSESE', 2021)
('AVATAR2', 'JAMES CAMEROON', 2022)

In [22]:
# using SQLalchemy language
import sqlalchemy

In [23]:
engine=sqlalchemy.create_engine('sqlite:///movies.db', echo=True)

In [24]:
with engine.connect() as conn:
  result= conn.execute(sqlalchemy.text("select * from Movies"))
  for row in result:
    print(row)

2023-11-28 09:54:35,514 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-11-28 09:54:35,519 INFO sqlalchemy.engine.Engine select * from Movies

INFO:sqlalchemy.engine.Engine:select * from Movies

2023-11-28 09:54:35,525 INFO sqlalchemy.engine.Engine [generated in 0.01049s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.01049s] ()

('TAXI DRIVER', 'MARTIN SCORSESE', 1976)
('IRISHMAN', 'MARTIN SCORSESE', 2021)
('AVATAR', 'JAMES CAMEROON', 2008)
('AVATAR2', 'JAMES CAMEROON', 2022)
('ET', 'Steven Spielberg', 1992)
('Inception', 'Christopher Nolan', 2010)
('The Dark Knight', 'Christopher Nolan', 2008)
('Avatar', 'James Cameron', 2009)
('Interstellar', 'Christopher Nolan', 2014)
('The Shawshank Redemption', 'Frank Darabont', 1994)
('Pulp Fiction', 'Quentin Tarantino', 1994)
('Forrest Gump', 'Robert Zemeckis', 1994)
('The Matrix', 'Lana Wachowski, Lilly Wachowski', 1999)
('Inception', 'Christopher Nolan', 2010)
('The Dark Knight', 'Christopher Nolan', 2008)
('Avatar', 'James Cameron', 2009)
('Interstellar', 'Christopher Nolan', 2014)
('The Shawshank Redemption', 'Frank Darabont', 1994)
('Pulp Fiction', 'Quentin Tarantino', 1994)
('Forrest Gump', 'Robert Zemeckis', 1994)
('The Matrix', 'Lana Wachowski, Lilly Wachowski', 1999)
2023-11-28 09:54:35,529 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

In [25]:
# Using magic commands
%load_ext sql

In [26]:
%sql sqlite:///movies.db

In [27]:
%%sql
select * from movies where year>2010;

 * sqlite:///movies.db
Done.

[('IRISHMAN', 'MARTIN SCORSESE', 2021),
 ('AVATAR2', 'JAMES CAMEROON', 2022),
 ('Interstellar', 'Christopher Nolan', 2014),
 ('Interstellar', 'Christopher Nolan', 2014)]

In [32]:
%%sql
SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///movies.db
Done.

[('MOVIES',), ('test_table',)]

In [31]:
# add one more table using Magic command method
%%sql
create table test_table(Name Text, Age Integer);
Insert into test_table values ('Alice', 23),('Tom', 24);
select * from test_table ;

 * sqlite:///movies.db
Done.
2 rows affected.
Done.

[('Alice', 23), ('Tom', 24)]

In [35]:
%%sql
SELECT name FROM sqlite_master WHERE type='table'

 * sqlite:///movies.db
Done.

[('MOVIES',), ('test_table',)]

In [36]:
import pandas as pd

In [37]:
# convert databases into dataframe
db=sqlite3.connect("movies.db")
qry="select * from movies"
df=pd.read_sql_query(qry,db)

In [38]:
df.head()

         TITLE          DIRECTOR  YEAR
0  TAXI DRIVER   MARTIN SCORSESE  1976
1     IRISHMAN   MARTIN SCORSESE  2021
2       AVATAR    JAMES CAMEROON  2008
3      AVATAR2    JAMES CAMEROON  2022
4           ET  Steven Spielberg  1992